{% extends "base-template.html" %}
{% block title %}LOGIN{% endblock %}

{% block content %}
<h2 align="center" class="form-title">Login</h2>

<form action="" method="POST">

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">

    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}