{% extends "base-template.html" %}
{% block title %}SIGNUP{% endblock %}

{% block content %}
<h2 align="center" class="form-title">Sign-Up</h2>

<form action="" method="POST">
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class='form-control' name="email" id="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    <div class="form-group">
        <label for="password-confirmation">Confirm Password:</label>
        <input type="password" class="form-control" name="password-confirmation" id="password-confirmation"
            placeholder="Confirm Password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sign-Up</button>
</form>
{% endblock %}